@import "../variables.scss";

#home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .logo {
    background: rgb(65, 30, 96);
    background: radial-gradient(
      circle,
      rgba(65, 30, 96, 1) 19%,
      rgba(21, 23, 71, 1) 100%
    );
    width: auto;
    display: inline-block;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2021 InspireMedia GmbH
 */
