@import "../variables.scss";

#home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    height: 150px;
    margin-bottom: 1.5rem;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2021 InspireMedia GmbH
 */
